body{
    background-image: url(https://wallpapercosmos.com/w/full/f/e/0/54340-3840x2160-desktop-4k-marvel-heroes-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.bg{
    filter: blur(8px);
}